# Choose one model provider
MODEL_PROVIDER=ollama
# MODEL_PROVIDER=gemini

# Ollama Gemma3 Information
OLLAMA_MODEL=gemma3
OLLAMA_BASE_URL=http://localhost:11434

# Gemini Information
GOOGLE_API_KEY=your-api-key
GEMINI_MODEL=gemini-3.5-flash

# Model Tokens
MODEL_MAX_TOKENS=800